@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.font-montserrat {
  font-family: Montserrat;
}
/* 🔹 For custom placeholder color */
.select-custom {
  color: #0000006b; /* when "Select" is showing */
}

/* 🔹 Normal option colors */
.select-custom option {
  color: #000000; /* dropdown options - black */
}

.gm-style > div > div > div > div {
  width: 130px !important;
}
.gm-style img {
  width: auto !important;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@keyframes fadeSlide {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animate-fadeSlide {
  animation: fadeSlide 2s ease-in-out;
}
.scrollMenus {
  scrollbar-width: 120px;
  -ms-overflow-style: none;
}

.scrollMenus::-webkit-scrollbar {
  height: 14px;
}

.scrollMenus::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.scrollMenus::-webkit-scrollbar-thumb {
  background: #c5c4c4;
  border-radius: 0px;
}

.scrollMenus::-webkit-scrollbar-button {
  display: none;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.scrollDropdown::-webkit-scrollbar {
  height: 10px !important;
}

.scrollDropdown::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.scrollDropdown::-webkit-scrollbar-thumb {
  background: #c5c4c4;
  border-radius: 0px;
}

.scrollDropdown::-webkit-scrollbar-button {
  display: none;
}

.\!container {
  width: 100% !important;
  margin-right: auto !important;
  margin-left: auto !important;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1280px;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes scaleIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-out forwards;
}

.animate-scaleIn {
  animation: scaleIn 0.3s ease-out forwards;
}

@keyframes wave {
  0%,
  60%,
  100% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-12px);
  }
}

.animate-wave {
  animation: wave 1.2s ease-in-out infinite;
}

.zsiq_theme1 .zsiq_flt_rel {
  width: 45px !important;
  height: 45px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}
.zsiq_theme1 .siqicon::before {
  font-size: 20px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  line-height: 40px !important;
}
.zsiq_theme1.zsiq_floatmain {
  width: 45px !important;
  max-height: 45px !important;
}

@media (max-width: 768px) {
  .zsiq_theme1.zsiq_floatmain {
    display: none !important;
  }
}

.faq-style h1,
.faq-style h2,
.faq-style h3,
.faq-style h4,
.faq-style strong,
.faq-style b,
.faq-style a{
  font-weight: 600 !important;
}
