@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@keyframes fadeSlide {
  0% {
    opacity: 0;
    
  }
  100% {
    opacity: 1;
    
  }
}

.animate-fadeSlide {
  animation: fadeSlide 2s ease-in-out;
}
.scrollMenus {
    scrollbar-width: 120px;
    -ms-overflow-style: none; 
}

.scrollMenus::-webkit-scrollbar {
    height: 14px; 
}

.scrollMenus::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.scrollMenus::-webkit-scrollbar-thumb {
    background: #c5c4c4;
    border-radius: 0px
}

.scrollMenus::-webkit-scrollbar-button {
    display: none;
}

.scrollDropdown::-webkit-scrollbar {
    height: 10px!important; 
}

.scrollDropdown::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.scrollDropdown::-webkit-scrollbar-thumb {
    background: #c5c4c4;
    border-radius: 0px
}

.scrollDropdown::-webkit-scrollbar-button {
    display: none;
}



.\!container {
    width: 100%!important;
    margin-right: auto!important;
    margin-left: auto!important;
    padding-right: 1rem!important;
    padding-left: 1rem!important
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
